// darkly
.karabin-content .karabin-row {
    padding: 15px -15px;
}
.karabin-content .karabin-row:nth-of-type(even) {
    background: #2b2b2b;
}
.karabin-content .karabin-row hr {
    margin:0 !important;
    display: none;
}
.karabin-content .karabin-row > div {
    padding-right: 0 15px;
    padding-left: 0 15px;
}